.basket .basket-list {
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
    gap: 15px;
    padding: 12px;
    margin: 0;
    width: 50vw;
    font-size: large;
    justify-content: center;
}

.basket h3 {
    margin: 10px;
}

.basket p {
    margin: 0;
}

.basket-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.basket-total-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
    padding: 15px;
    height: fit-content;
    width: 15vw;
    text-align: left;
}

.basket-total-container button {
    margin-top: 20px;
    font-size: smaller;
    align-self: flex-end;
}

.basket-total-details {
    width: 100%;
}

.basket-total-location {
    margin-bottom: 10px;
    font-size: 0.9em;
    opacity: 0.6;
}

.basket-total-details-label {
    opacity: 0.7;
}

.basket-total-details-value {
    color: white;
    text-align: right;
}

.basket-total-details-line-container {
    padding: 0
}

.basket-total-details-line {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 8px 0;
    opacity: 0.5;
}

.white-space {
    width: 15vw;
}