.coffee-list-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

@media (max-width: 750px) {
    .coffee-list-container {
        grid-template-columns: repeat(3, 1fr);
    }
}