.basket-quantity-size-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
    border: 2px solid #b87334;
    padding: 4px 8px;
    margin-left: 5px;
    font-size: 0.7em;
    min-width: 24px;
    height: 24px; 
    border-radius: 6px;
    box-sizing: border-box;
    color: #f5f5f5;
}