.basket-quantity-size-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #5b3606;
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 0.6em;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-sizing: border-box;
}