.product-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
  background-color: #0a0a0a;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  padding: 24px;
  border: 1px solid #3d3d3d;
}

.product-name {
  color: #b87334;
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

.product-card-image {
  background-color: #0a0a0a;
  border-radius: 8px;
  min-width: 100px;
  min-height: 100px;
  border: 1px solid #3d3d3d;
}

.update-button {
  background: #b87334;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-button {
  background: #8b0707;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
