@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.menu-title {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 3.5rem;
  color: #b87334;
  margin: 0;
}

.search-container {
  width: 300px;
}

.search-input {
  margin: 0;
}

@media (max-width: 750px) {
  .coffee {
    width: 90%;
    align-items: center;
    justify-content: center;
  }
}
