.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-title-container {
    display: flex;
    flex-direction: column;
}

.header-title {
    position: absolute;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
}

nav {
    display: flex;
    align-self: flex-end;
    margin: 30px 50px 30px auto;
    font-size: larger;
    color: white;
    gap: 20px;
}